/* Write your CSS here */
.app-list-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  height: 300px;
  width: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.app-image {
  height: 160px;
  width: 160px;
}
.app-name {
  color: #000000;
  font-family: 'Ariel', sans-serif;
}
@media screen and (max-width: 576px) {
  .app-list-item {
    height: 120px;
    width: 120px;
  }
  .app-image {
    height: 50px;
    width: 50px;
  }
}
